<nav class="navbar is-spaced full-screen" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a id="NavbarLogo" class="navbar-item logo" href="{{site.url}}">
            <img src="{{site.baseurl}}/assets/images/brigade.jpeg" alt="Code for America Hurricane Florence Response">
        </a>
        <a id="MenuButton" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="menuClickHandler();">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {% for item in site.data.navbar.top-nav %}
                {% if page.url == item.url %}
                    <a class="navbar-item is-current" disabled="true" href="{{ item.url }}">{{ item.title }}</a>
                {% else %}
                    <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="navbar-end">
        </div>
    </div>
    <div id="MobileNavMenu" class="navbar-mobile">
        {% for item in site.data.navbar.mobile-nav %}
            {% if page.url == item.url %}
                <a class="navbar-item is-current" disabled="true" href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
                <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>
<script>
    function menuClickHandler() {
        const menuButtonRef = document.getElementById('MenuButton');
        const mobileNavMenuRef = document.getElementById('MobileNavMenu');

        if (!!menuButtonRef.className.match("is-active")) {
            menuButtonRef.className = menuButtonRef.className.replace(' is-active', '');
            mobileNavMenuRef.className = mobileNavMenuRef.className.replace(' is-active', '');
        } else {
            menuButtonRef.className = menuButtonRef.className.concat(' is-active');
            mobileNavMenuRef.className = mobileNavMenuRef.className.concat(' is-active');
        }
    }
</script>