<div id="map-container" class="shelter-map_container">
    <div id="map">
    </div>
    <div class="shelter-map_info">
        <div class="map-controls">
            <button id="ShelterFilterToggle" class="button is-info is-small" onclick="toggleFiltersVisibility();">
                <svg id="icon-filter" viewBox="0 0 32 32" aria-label="filter icon">
                    <path d="M16 0c-8.837 0-16 2.239-16 5v3l12 12v10c0 1.105 1.791 2 4 2s4-0.895 4-2v-10l12-12v-3c0-2.761-7.163-5-16-5zM2.95 4.338c0.748-0.427 1.799-0.832 3.040-1.171 2.748-0.752 6.303-1.167 10.011-1.167s7.262 0.414 10.011 1.167c1.241 0.34 2.292 0.745 3.040 1.171 0.494 0.281 0.76 0.519 0.884 0.662-0.124 0.142-0.391 0.38-0.884 0.662-0.748 0.427-1.8 0.832-3.040 1.171-2.748 0.752-6.303 1.167-10.011 1.167s-7.262-0.414-10.011-1.167c-1.24-0.34-2.292-0.745-3.040-1.171-0.494-0.282-0.76-0.519-0.884-0.662 0.124-0.142 0.391-0.38 0.884-0.662z"></path>
                </svg>
                Filters</button>
        </div>
        <ul id="ShelterFiltersUL" class="filters tabs">
            <li class="filter-item" id="ShelterFilter_All" onclick="clearFilters()">All</li>
            <li class="filter-item" id="ShelterFilter_Accepting" onclick="onFilterClick(this.id)">Accepting</li>
            <li class="filter-item" id="ShelterFilter_SpecialNeeds" onclick="onFilterClick(this.id)">Special Needs</li>
            <li class="filter-item" id="ShelterFilter_PetsOK" onclick="onFilterClick(this.id)">Pets allowed</li>
            <!--<li class="filter-item" id="ShelterFilter_SuppliesNeeded" onclick="onFilterClick(this.id)">Supplies Needed</li>-->
            <!--<li class="filter-item" id="ShelterFilter_VolunteersNeeded" onclick="onFilterClick(this.id)">Volunteers Needed</li>-->
        </ul>
    </div>
</div>
<div id="ShelterMapLegend">
    <ul id="LegendDetails" class="legend-details visible">
        <li class="legend-item">
            <div class="legend-item_label">
                Evacuation Route
            </div>
            <div class="legend-item_key">
                <div class="color-circle evacuation-color"></div>
            </div>
        </li>
        <li class="legend-item">
            <div class="legend-item_label">
                Shelter
            </div>
            <div class="legend-item_key">
                <img src="/assets/images/shelter-icon.png" alt="Shelter Icon">
            </div>
        </li>
    </ul>
</div>
<script>
    // Load access token from config
    mapboxgl.accessToken = '{{site.mapbox_access_token}}';

    //TODO: move this to config.
    const MAP_LOAD_CENTER = [-84.9832, 29.7258];

    var map = new mapboxgl.Map({
  // container id specified in the HTML
  container: 'map',
  // style URL
  style: 'mapbox://styles/miklb-c4tb/cjnozdzs41qlx2rqvf7mwfztt',
  // initial position in [lon, lat] format
  center: MAP_LOAD_CENTER,
  // initial zoom
  zoom: 7.3
});
map.on('load', function() {
    // Add a new source from our GeoJSON data and set the
    // 'cluster' option to true. GL-JS will add the point_count property to your source data.
    map.addSource("shelters", {
        type: "geojson",
        // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
        // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
        data: "https://hurricane-florence-api.herokuapp.com/api/v1/shelters/geo.json",
        cluster: true,
        clusterMaxZoom: 11, // Max zoom to cluster points on
        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
        id: "clusters",
        type: "circle",
        source: "shelters",
        filter: ["has", "point_count"],
        paint: {
            // Use step expressions (https://www.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
            // with three steps to implement three types of circles:
            //   * Blue, 20px circles when point count is less than 10
            //   * Yellow, 30px circles when point count is between 10 and 20
            //   * Pink, 40px circles when point count is greater than or equal to 20
            "circle-color": [
                "step",
                ["get", "point_count"],
                "#19B5FE",
                10,
                "#F4D03F",
                20,
                "#FF65AA"
            ],
            "circle-radius": [
                "step",
                ["get", "point_count"],
                20,
                10,
                30,
                20,
                40
            ]
        }
    });
    map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "shelters",
        filter: ["has", "point_count"],
        layout: {
            "text-field": "{point_count_abbreviated}",
            "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
            "text-size": 12
        }
    });
    map.addLayer({
        id: "unclustered-point",
        type: "circle",
        source: "shelters",
        filter: ["!", ["has", "point_count"]],
        paint: {
            "circle-color": "#11b4da",
            "circle-radius": 4,
            "circle-stroke-width": 1,
            "circle-stroke-color": "#fff"
        }
    });

    
});

</script>