$map-height: 90vh;

.shelter-popup > .mapboxgl-popup-content {
  padding: 0;
}

.shelter-popup .popup-header {
  color: $popup-header-font--color;
  padding: 3em;
  background: $blue;
}

.shelter-popup .shelter-details {
  padding: 3em 1em 1em 1em;
}


.shelter-map_container {
  position: relative;
  max-height: $map-height;

}

#map-container {
  overflow: hidden;
}

#map-container.shelter-map_container #map {
  min-height: $map-height;
  max-height: $map-height;
}

.shelter-map_info {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 0;
}

// Geolocate Control

.mapboxgl-ctrl-top-right div {
  position: relative;
  overflow: visible;
}

.mapboxgl-ctrl-top-right div::after {
  content: 'Locate Yourself';
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px 0 5px;
  height: 100%;
  width: auto;
  white-space: nowrap;
  background: rgba(10, 10, 10, 0.39);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1em 0 0 1em;
  transform: translateX(-100%);
}

// Filter Controls

#ShelterFilterToggle, #geolocate {

  &.active {
    background: $blue;
  }

  svg {
    height: 1em;
    margin-right: 6px;
    fill: white;
  }
}

#ShelterFiltersUL {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 50vw;
  transform: translateX(-200%);
  transition: all ease-in-out 0.4s;
  li {
    white-space: normal;
    size: 0.7em;
  }
  li, li:focus {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.2s;
    margin-bottom: 5px;

    &.active {
      background: rgba(128, 251, 141, 0.75);
      transform: scale(1.1);
    }

    #ShelterFilter_All.active {
      background: #00b89c;
    }
  }

  &.visible {
    transform: translateX(0);
  }
}


/**
 MAP LEGEND
 */

#ShelterMapLegend {
  max-width: 100vw;
  background: antiquewhite;
  border-radius: 0 0 1em 1em;
  overflow: hidden;

  .legend-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    min-height: 36px;
    overflow: hidden;
    padding: 8px;
    width: 100%;
  }

  .legend-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0;
    width: 320px;

    img {
      width: 32px;
      height: auto;
    }

    .legend-item_label {
      display: flex;
      justify-content: flex-start;
      padding-left: 8px;
      width: 100%;
    }

    .legend-item_key {
      display: flex;
      justify-content: flex-start;
      padding-left: 8px;
      width: 100%;
    }
  }
}

.color-circle {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 1em;

  &.evacuation-color {
    background: $evacuation-route-color;
  }
}