$map-height: 100%;

.shelter-popup > .mapboxgl-popup-content {
  padding: 0;
}

.shelter-popup .popup-header {
  color: $popup-header-font--color;
  padding: 3em;
  background: $blue;
}

.shelter-popup .shelter-details {
  padding: 3em 1em 1em 1em;
}


.shelter-map_container {
  position: relative;
  max-height: $map-height;

}

.container.shelter-map {
  //position: relative;
}

#map-container {
  overflow: hidden;
}

.map-wrapper {
  //position: absolute;
  margin: auto;
  max-width: 100vw;
  min-width: 90vw;
}


#map-container.shelter-map_container #map {
  min-height: $map-height;
  max-height: $map-height;
}

.shelter-map_info {
  position: absolute;
  top: 10px;
  left: 10px;
  //height: 0;
  width: 100%;
  max-width: 80vw;
}

.shelter-map-controls {
  display: flex;
  justify-content: flex-start;
}
// Filter Controls

#ShelterFilterToggle, #geolocate {

  &.active {
    background: $blue;
  }

  svg {
    height: 1em;
    margin-right: 6px;
    fill: white;
  }
}

#ShelterFiltersUL {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 50vw;
  transform: translateX(-200%);
  transition: all ease-in-out 0.4s;
  li {
    white-space: normal;
    size: 0.7em;
  }
  li, li:focus {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.2s;
    margin-bottom: 5px;

    &.active {
      background: rgba(164, 228, 251, 1);
      transform: scale(1.1);
    }
  }

  &.visible {
    transform: translateX(0);
  }
}

#ShelterSearch {
  //position: relative;
  width: 100%;

  & .control {
    width: 100%;
    padding: 0 6px;
  }

}

#SearchResultsList {
  position: absolute;
  top: 39px;
  left: 82px;
  max-height: 200px;
  overflow: auto;
  background: rgba(245, 245, 245, 0.87);
  padding: 0 3px;
  right: 8px;
}

.search-result_item {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  background: rgba(195, 243, 255, 0.42);
  margin-bottom: 4px;

  div {
    padding: 0 6px;
  }
}