<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
<head>
    {% include head.html %}
</head>
<body>
{% include navbar.html %}
<div class="level has-background-danger is-size-4">
    <div class="level has-background-danger is-size-4">
        <div class="level-item has-text-centered has-text-light">
            Text your zipcode to&#160;<a class="has-text-light" href="sms:8035004835"> 1-803-500-4835 </a>&#160; for
            local shelter information.
        </div>
    </div>
</div>
<main role="main">
    <div class="container content">
        {{ content }}
    </div>
</main>
<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h3 class="title is-3">
                See Something Missing?
            </h3>
            <p>To add more resources to these lists, please submit them here.</p>
            <p><a class="button is-light" href="https://github.com/hurricane-response/michael_website">GitHub repo</a>
            </p>
        </div>
    </div>
</section>
<footer class="footer" role="contentinfo">
    <div class="container has-text-centered">
        <h3 class="title is-3">What is this?</h3>
        <p>This site is built by <a href="https://codeforamerica.org">Code for America</a> brigades from across the
            country.
            To participate in data collection, curation, or any other help, please join us - <a
                    href="https://bit.ly/2N6YVYD">C4A Hurricane Volunteers</a>.
        </p>
        <div class="partners columns">
            <p class="column has-text-centered">Thank you to the <a href="https://mapbox.com" target="_blank">Mapbox</a>
                team for
                collaborating on mapping tools.<br/>
                <img src="{{site.baseurl}}/assets/images/mapbox_logo.png">
            </p>
            <p class="column has-text-centered">Thank you to the <a href="https://cedrdigitalcorps.org/"
                                                                    target="_blank">CEDR Digital Corps</a> for
                collaborating on data collection.<br/>
                <img src="{{site.baseurl}}/assets/images/CEDR_logo.jpg" width="163"/>
            </p>

        </div>
    </div>
</footer>
</body>