<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
<head>
    <!-- MapBoxGL -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet'/>

    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <div class="level has-background-danger is-size-4">
        <div class="level-item has-text-centered has-text-light">
            Text your zipcode to&#160;<a class="has-text-grey-lighter" href="sms:8035004835"> 1-803-500-4835 </a>&#160; for
            local shelter information.
        </div>
    </div>
    <section class="hero is-large">

        <div class="container">
            <h1 class="title is-centered">Hurricane Michael Response</h1>
            {% include shelter_map.html %}
        </div>
    </section>
    <main role="main">
        <section class="section">
            <div class="container is-fluid">
                <h2 class="title is-2">Resource Links</h2>
                <div class="columns">
                    {% assign pages_list = site.pages %}
                    {% for node in pages_list %}
                    {% if node.title != null %}
                    {% if node.layout == "page" %}
                    <div class="column">
                        <a class="button is-large is-info" href="{{ node.url }}">{{ node.title }}</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <p class="content has-text-centered">
                            <a class="has-text-weight-bold is-size-3"
                               href="https://www.fema.gov/news-release/2018/09/16/how-you-can-help-disaster-survivors">How
                                to Help
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="box content has-text-centered">
                    <h2 class="title is-2">
                        Need Rescue?
                    </h2>
                    <a href="https://crowdsourcerescue.com/campaigns/home/57?scope_campaigns=57">
                        <img src="{{site.baseurl}}/assets/images/crowdsourcerescue-horizontal-blue_sm.png"
                             alt="CrowdSource Rescue" target="_blank">
                    </a>

                </div>
            </div>
        </section>

    </main>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h3 class="title is-3">
                    See Something Missing?
                </h3>
                <p>To add more resources to these lists, please submit them here.</p>
                <p><a class="button is-light" href="https://github.com/hurricane-response/michael_website">GitHub repo</a>
                </p>
            </div>
        </div>
    </section>
    <footer class="footer" role="contentinfo">
        <div class="container has-text-centered">
            <h3 class="title is-3">What is this?</h3>
            <p>This site is built by <a href="https://codeforamerica.org">Code for America</a> brigades from across the
                country.
                To participate in data collection, curation, or any other help, please join us - <a
                        href="https://bit.ly/2N6YVYD">C4A
                    Michael Volunteers</a>.
            </p>
            <div class="partners columns">
                <p class="column has-text-centered">Thank you to the <a href="https://mapbox.com" target="_blank">Mapbox</a>
                    team for
                    collaborating on mapping tools.<br/>
                    <img src="{{site.baseurl}}/assets/images/mapbox_logo.png">
                </p>
                <p class="column has-text-centered">Thank you to the <a href="https://cedrdigitalcorps.org/"
                                                                        target="_blank">CEDR Digital Corps</a> for
                    collaborating on data collection.<br/>
                    <img src="{{site.baseurl}}/assets/images/CEDR_logo.jpg" width="163"/>
                </p>

            </div>
        </div>
    </footer>
</body>